In [6]:
import pandas as pd

class abcd:
    dt = pd.DataFrame({"Roll numbers" : [ 23, 5, 14, 37],
                    "Name" : ["Sara","Mukesh","Naina","Anand"],
                    "Score":[ 35, 46, 52, 37]})
    print("Original DataFrame : "+str(len(dt.columns)))
    display(dt)
    def highlight_rows(x):
        calue = x['Roll numbers']
        if calue>20 and x.Score<40:
            return['background-color: red']*3
        else:
            return['background-color: yellow']*3
    print("Highlighted DataFrame :")
    dt = dt.style.apply(highlight_rows, axis = 1)
    display(dt)

Original DataFrame : 3

   Roll numbers    Name  Score
0            23    Sara     35
1             5  Mukesh     46
2            14   Naina     52
3            37   Anand     37

Highlighted DataFrame :

   Roll numbers    Name  Score
0            23    Sara     35
1             5  Mukesh     46
2            14   Naina     52
3            37   Anand     37